.buttonImg {
  --size: 22px;
  width: var(--size);
  height: var(--size);
}

.popoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.loggedInBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

.oauthBtn {
  justify-content: flex-start !important;
}
